streamlit 
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
pdf2image


streamlit
google-generativeai
python-dotenv
langchai
PyPDF2
chromadb
faiss-cpu
langchain_google_genai